<!DOCTYPE html>
<html lang="en" xmlns:sa="http://www.thymeleaf.org/extras/sa-token"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--公共模块-->
  <div th:replace="~{layout}"></div>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info">
  <input name="lotId" hidden/>
    <div class="layui-form-item">
      <label class="layui-form-label">设备名称</label>
      <div class="layui-input-block">
        <input type="deviceName" name="deviceName" placeholder="请输入设备名称" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">数据发生时刻（硬件时刻）</label>
      <div class="layui-input-block">
        <input type="dataTime" name="dataTime" placeholder="请输入数据发生时刻（硬件时刻）" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">电子齿轮比</label>
      <div class="layui-input-block">
        <input type="electronicGearRatio" name="electronicGearRatio" placeholder="请输入电子齿轮比" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">B组孔盘数。</label>
      <div class="layui-input-block">
        <input type="bHolesNum" name="bHolesNum" placeholder="请输入B组孔盘数。" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">B组株距</label>
      <div class="layui-input-block">
        <input type="bSowInterval" name="bSowInterval" placeholder="请输入B组株距" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">B组电机与主轴的减速比,单位0.1</label>
      <div class="layui-input-block">
        <input type="bReductionRatio" name="bReductionRatio" placeholder="请输入B组电机与主轴的减速比,单位0.1" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">B组电机一圈需要的脉冲数</label>
      <div class="layui-input-block">
        <input type="bSendPulse" name="bSendPulse" placeholder="请输入B组电机一圈需要的脉冲数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">B组电机电机一圈需要的脉冲数</label>
      <div class="layui-input-block">
        <input type="bRecievePulse" name="bRecievePulse" placeholder="请输入B组电机电机一圈需要的脉冲数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">A组孔盘数。</label>
      <div class="layui-input-block">
        <input type="aHolesNum" name="aHolesNum" placeholder="请输入A组孔盘数。" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">A组株距</label>
      <div class="layui-input-block">
        <input type="aSowInterval" name="aSowInterval" placeholder="请输入A组株距" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">A组电机与主轴的减速比,单位0.1</label>
      <div class="layui-input-block">
        <input type="aReductionRatio" name="aReductionRatio" placeholder="请输入A组电机与主轴的减速比,单位0.1" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">A组电机一圈需要的脉冲数</label>
      <div class="layui-input-block">
        <input type="aSendPulse" name="aSendPulse" placeholder="请输入A组电机一圈需要的脉冲数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">A组电机电机一圈需要的脉冲数，单位个</label>
      <div class="layui-input-block">
        <input type="aRecievePulse" name="aRecievePulse" placeholder="请输入A组电机电机一圈需要的脉冲数，单位个" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">新头重复</label>
      <div class="layui-input-block">
        <input type="newHeadRepeatFlag" name="newHeadRepeatFlag" placeholder="请输入新头重复" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">限制距离到强制停机</label>
      <div class="layui-input-block">
        <input type="shutDownDistanceFlag" name="shutDownDistanceFlag" placeholder="请输入限制距离到强制停机" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">种电机报警</label>
      <div class="layui-input-block">
        <input type="seedMotorAlarmFlag" name="seedMotorAlarmFlag" placeholder="请输入种电机报警" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">编码器取反</label>
      <div class="layui-input-block">
        <input type="eNCODERMODEFlag" name="eNCODERMODEFlag" placeholder="请输入编码器取反" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">行程开关方向取反控制</label>
      <div class="layui-input-block">
        <input type="dRIVINGDIRECTIONFlag" name="dRIVINGDIRECTIONFlag" placeholder="请输入行程开关方向取反控制" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">有无编码器</label>
      <div class="layui-input-block">
        <input type="hASENCODERFlag" name="hASENCODERFlag" placeholder="请输入有无编码器" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">测试主肥量</label>
      <div class="layui-input-block">
        <input type="realMainFertilizerValue" name="realMainFertilizerValue" placeholder="请输入测试主肥量" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">设定主肥量</label>
      <div class="layui-input-block">
        <input type="setMainFertilizerValue" name="setMainFertilizerValue" placeholder="请输入设定主肥量" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">主肥系数</label>
      <div class="layui-input-block">
        <input type="mainFertilizerRate" name="mainFertilizerRate" placeholder="请输入主肥系数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">测试口肥量</label>
      <div class="layui-input-block">
        <input type="realDeputyFertilizerValue" name="realDeputyFertilizerValue" placeholder="请输入测试口肥量" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">设定口肥量</label>
      <div class="layui-input-block">
        <input type="setDeputyFertilizerValue" name="setDeputyFertilizerValue" placeholder="请输入设定口肥量" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">口肥系数</label>
      <div class="layui-input-block">
        <input type="deputyFertilizerRate" name="deputyFertilizerRate" placeholder="请输入口肥系数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">主肥监控的缺肥灵敏度</label>
      <div class="layui-input-block">
        <input type="lackFertilizerRate" name="lackFertilizerRate" placeholder="请输入主肥监控的缺肥灵敏度" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">主肥监控标志</label>
      <div class="layui-input-block">
        <input type="mainFertilizerMonitoringFlag" name="mainFertilizerMonitoringFlag" placeholder="请输入主肥监控标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">主肥电机标志</label>
      <div class="layui-input-block">
        <input type="mainFertilizerMotorFlag" name="mainFertilizerMotorFlag" placeholder="请输入主肥电机标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">口肥电机标志</label>
      <div class="layui-input-block">
        <input type="deputyFertilizerMotorFlag" name="deputyFertilizerMotorFlag" placeholder="请输入口肥电机标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">种物位标志</label>
      <div class="layui-input-block">
        <input type="seedLocationFlag" name="seedLocationFlag" placeholder="请输入种物位标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">主肥物位标志</label>
      <div class="layui-input-block">
        <input type="mainFertilizerLocationFlag" name="mainFertilizerLocationFlag" placeholder="请输入主肥物位标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">口肥物位标志</label>
      <div class="layui-input-block">
        <input type="deputyFertilizerLocationFlag" name="deputyFertilizerLocationFlag" placeholder="请输入口肥物位标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">报声音</label>
      <div class="layui-input-block">
        <input type="soundFlag" name="soundFlag" placeholder="请输入报声音" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">平行播种</label>
      <div class="layui-input-block">
        <input type="sowType" name="sowType" placeholder="请输入平行播种" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">播种苗带选择；=0是单苗带，=1是双苗带，=2是三苗带；</label>
      <div class="layui-input-block">
        <input type="sowMode" name="sowMode" placeholder="请输入播种苗带选择；=0是单苗带，=1是双苗带，=2是三苗带；" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">播种行数</label>
      <div class="layui-input-block">
        <input type="sowLine" name="sowLine" placeholder="请输入播种行数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">总播种宽度</label>
      <div class="layui-input-block">
        <input type="sowingWidth" name="sowingWidth" placeholder="请输入总播种宽度" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">种预判时间</label>
      <div class="layui-input-block">
        <input type="predictedTime" name="predictedTime" placeholder="请输入种预判时间" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">急停阈值</label>
      <div class="layui-input-block">
        <input type="decelerationValue" name="decelerationValue" placeholder="请输入急停阈值" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">无电机主肥监控的缺肥底线</label>
      <div class="layui-input-block">
        <input type="lackFertilizerLine" name="lackFertilizerLine" placeholder="请输入无电机主肥监控的缺肥底线" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">单次播种运行时记录的运行时间</label>
      <div class="layui-input-block">
        <input type="runningTime" name="runningTime" placeholder="请输入单次播种运行时记录的运行时间" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">单次播种的距离显示</label>
      <div class="layui-input-block">
        <input type="sowDistance" name="sowDistance" placeholder="请输入单次播种的距离显示" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">雷达频率</label>
      <div class="layui-input-block">
        <input type="radarFrequency" name="radarFrequency" placeholder="请输入雷达频率" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">运行8秒时系统电压</label>
      <div class="layui-input-block">
        <input type="systemVoltage" name="systemVoltage" placeholder="请输入运行8秒时系统电压" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">有新头标志</label>
      <div class="layui-input-block">
        <input type="systemNewHeadFlag" name="systemNewHeadFlag" placeholder="请输入有新头标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">压行程（运输中）标志</label>
      <div class="layui-input-block">
        <input type="systemCompressionStrokeFlag" name="systemCompressionStrokeFlag" placeholder="请输入压行程（运输中）标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">种手动中标志</label>
      <div class="layui-input-block">
        <input type="systemSeedManuallyFlag" name="systemSeedManuallyFlag" placeholder="请输入种手动中标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">主肥测试手动中标志</label>
      <div class="layui-input-block">
        <input type="systemMainFertilizerTestingFlag" name="systemMainFertilizerTestingFlag" placeholder="请输入主肥测试手动中标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">有编码器时编码器报警标志</label>
      <div class="layui-input-block">
        <input type="encoderAlarmFlag" name="encoderAlarmFlag" placeholder="请输入有编码器时编码器报警标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">播种中标志</label>
      <div class="layui-input-block">
        <input type="sowingFlag" name="sowingFlag" placeholder="请输入播种中标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">屏连接标志</label>
      <div class="layui-input-block">
        <input type="padConnectFlag" name="padConnectFlag" placeholder="请输入屏连接标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">雷达报警标志</label>
      <div class="layui-input-block">
        <input type="systemRadarWarnFlag" name="systemRadarWarnFlag" placeholder="请输入雷达报警标志" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">单次播种，种子报警次数</label>
      <div class="layui-input-block">
        <input type="seedAlarmCount" name="seedAlarmCount" placeholder="请输入单次播种，种子报警次数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">单次播种肥报警次数</label>
      <div class="layui-input-block">
        <input type="fertilizerAlarmCount" name="fertilizerAlarmCount" placeholder="请输入单次播种肥报警次数" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">运行8秒时风机压力</label>
      <div class="layui-input-block">
        <input type="fanPressure" name="fanPressure" placeholder="请输入运行8秒时风机压力" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">运行8秒时风机转速</label>
      <div class="layui-input-block">
        <input type="fanSpeed" name="fanSpeed" placeholder="请输入运行8秒时风机转速" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">物联上传数据类型</label>
      <div class="layui-input-block">
        <input type="uploadType" name="uploadType" placeholder="请输入物联上传数据类型" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">当前到限里程停止时的剩余路程，4095是无限里程，单位是512米</label>
      <div class="layui-input-block">
        <input type="remainingMileage" name="remainingMileage" placeholder="请输入当前到限里程停止时的剩余路程，4095是无限里程，单位是512米" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">数据状态(1.正常 0.忽略 )</label>
      <div class="layui-input-block">
        <input type="status" name="status" placeholder="请输入数据状态(1.正常 0.忽略 )" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  sa:hasPermission="dataElectricSeederMessage:list">
    <form class="layui-form ">
      <div class="layui-form-item">
		<div class="layui-input-inline">
            <input type="hidden" name="lotId" id="lotId" class="layui-input"  placeholder="设备id" th:value="${param.param}">
        </div>
        <div class="layui-input-inline">
            <input type="text" readonly class="layui-input" name="createTimeBegin" id="createTimeBegin" placeholder="开始时间">
        </div>
        <div class="layui-input-inline">
            <input type="text" readonly class="layui-input" name="createTimeEnd" id="createTimeEnd" placeholder="结束时间">
        </div>
        <div class="layui-input-inline ">
          <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
        </div>
      </div>
    </form>
        <div class="layui-input-inline ">
          <button  class="layui-btn" id="back_btn"  >返  回</button>
        </div>
  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container oper">
    <button class="layui-btn layui-btn-sm" lay-event="add"  sa:hasPermission="dataElectricSeederMessage:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" sa:hasPermission="dataElectricSeederMessage:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="dataElectricSeederMessage:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" sa:hasPermission="dataElectricSeederMessage:delete">删除</a>
</script>

</body>
</html>
<script>
  layui.use(function () {
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
	var laydate = layui.laydate;
	var router = layui.router();
	var bbb = router.search;
	console.log('当前路由:', layui.router());//这里不显示参数
	var aaa = $("#lotId").val();//这个有显示参数
	
	
    //加载table
    var tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , page: true //开启分页
      , url: ctx + 'dataElectricSeederMessage/listByPage' //数据接口
      , method: 'POST'
	  , where:{lotId:aaa}
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {field: 'lotId', title: '设备id', sort: true},
          {field: 'deviceName', title: '设备名称', sort: true},
          {field: 'dataTime', title: '数据发生时刻（硬件时刻）', sort: true},
          {field: 'electronicGearRatio', title: '电子齿轮比', sort: true},
          {field: 'bHolesNum', title: 'B组孔盘数。', sort: true},
          {field: 'bSowInterval', title: 'B组株距', sort: true},
          {field: 'bReductionRatio', title: 'B组电机与主轴的减速比,单位0.1', sort: true},
          {field: 'bSendPulse', title: 'B组电机一圈需要的脉冲数', sort: true},
          {field: 'bRecievePulse', title: 'B组电机电机一圈需要的脉冲数', sort: true},
          {field: 'aHolesNum', title: 'A组孔盘数。', sort: true},
          {field: 'aSowInterval', title: 'A组株距', sort: true},
          {field: 'aReductionRatio', title: 'A组电机与主轴的减速比,单位0.1', sort: true},
          {field: 'aSendPulse', title: 'A组电机一圈需要的脉冲数', sort: true},
          {field: 'aRecievePulse', title: 'A组电机电机一圈需要的脉冲数，单位个', sort: true},
          {field: 'newHeadRepeatFlag', title: '新头重复', sort: true},
          {field: 'shutDownDistanceFlag', title: '限制距离到强制停机', sort: true},
          {field: 'seedMotorAlarmFlag', title: '种电机报警', sort: true},
          {field: 'eNCODERMODEFlag', title: '编码器取反', sort: true},
          {field: 'dRIVINGDIRECTIONFlag', title: '行程开关方向取反控制', sort: true},
          {field: 'hASENCODERFlag', title: '有无编码器', sort: true},
          {field: 'realMainFertilizerValue', title: '测试主肥量', sort: true},
          {field: 'setMainFertilizerValue', title: '设定主肥量', sort: true},
          {field: 'mainFertilizerRate', title: '主肥系数', sort: true},
          {field: 'realDeputyFertilizerValue', title: '测试口肥量', sort: true},
          {field: 'setDeputyFertilizerValue', title: '设定口肥量', sort: true},
          {field: 'deputyFertilizerRate', title: '口肥系数', sort: true},
          {field: 'lackFertilizerRate', title: '主肥监控的缺肥灵敏度', sort: true},
          {field: 'mainFertilizerMonitoringFlag', title: '主肥监控标志', sort: true},
          {field: 'mainFertilizerMotorFlag', title: '主肥电机标志', sort: true},
          {field: 'deputyFertilizerMotorFlag', title: '口肥电机标志', sort: true},
          {field: 'seedLocationFlag', title: '种物位标志', sort: true},
          {field: 'mainFertilizerLocationFlag', title: '主肥物位标志', sort: true},
          {field: 'deputyFertilizerLocationFlag', title: '口肥物位标志', sort: true},
          {field: 'soundFlag', title: '报声音', sort: true},
          {field: 'sowType', title: '平行播种', sort: true},
          {field: 'sowMode', title: '播种苗带选择；=0是单苗带，=1是双苗带，=2是三苗带；', sort: true},
          {field: 'sowLine', title: '播种行数', sort: true},
          {field: 'sowingWidth', title: '总播种宽度', sort: true},
          {field: 'predictedTime', title: '种预判时间', sort: true},
          {field: 'decelerationValue', title: '急停阈值', sort: true},
          {field: 'lackFertilizerLine', title: '无电机主肥监控的缺肥底线', sort: true},
          {field: 'runningTime', title: '单次播种运行时记录的运行时间', sort: true},
          {field: 'sowDistance', title: '单次播种的距离显示', sort: true},
          {field: 'radarFrequency', title: '雷达频率', sort: true},
          {field: 'systemVoltage', title: '运行8秒时系统电压', sort: true},
          {field: 'systemNewHeadFlag', title: '有新头标志', sort: true},
          {field: 'systemCompressionStrokeFlag', title: '压行程（运输中）标志', sort: true},
          {field: 'systemSeedManuallyFlag', title: '种手动中标志', sort: true},
          {field: 'systemMainFertilizerTestingFlag', title: '主肥测试手动中标志', sort: true},
          {field: 'encoderAlarmFlag', title: '有编码器时编码器报警标志', sort: true},
          {field: 'sowingFlag', title: '播种中标志', sort: true},
          {field: 'padConnectFlag', title: '屏连接标志', sort: true},
          {field: 'systemRadarWarnFlag', title: '雷达报警标志', sort: true},
          {field: 'seedAlarmCount', title: '单次播种，种子报警次数', sort: true},
          {field: 'fertilizerAlarmCount', title: '单次播种肥报警次数', sort: true},
          {field: 'fanPressure', title: '运行8秒时风机压力', sort: true},
          {field: 'fanSpeed', title: '运行8秒时风机转速', sort: true},
          {field: 'uploadType', title: '物联上传数据类型', sort: true},
          {field: 'remainingMileage', title: '当前到限里程停止时的剩余路程，4095是无限里程，单位是512米', sort: true},
          {field: 'status', title: '数据状态(1.正常 0.忽略 )', sort: true},
          {width: 120, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
	  ,done:function(res,curr,count){
		
	  }
    });

	tableIns1.reload(	'showTable', {
				    where: {lotId:aaa},
				    page: { curr: 1 }
				  });
    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          toUnDisabled();
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          setTimeout(function () {
            form.val('info', {
              "test": "test"
              , "lotId": ""
              , "deviceName": ""
              , "dataTime": ""
              , "electronicGearRatio": ""
              , "bHolesNum": ""
              , "bSowInterval": ""
              , "bReductionRatio": ""
              , "bSendPulse": ""
              , "bRecievePulse": ""
              , "aHolesNum": ""
              , "aSowInterval": ""
              , "aReductionRatio": ""
              , "aSendPulse": ""
              , "aRecievePulse": ""
              , "newHeadRepeatFlag": ""
              , "shutDownDistanceFlag": ""
              , "seedMotorAlarmFlag": ""
              , "eNCODERMODEFlag": ""
              , "dRIVINGDIRECTIONFlag": ""
              , "hASENCODERFlag": ""
              , "realMainFertilizerValue": ""
              , "setMainFertilizerValue": ""
              , "mainFertilizerRate": ""
              , "realDeputyFertilizerValue": ""
              , "setDeputyFertilizerValue": ""
              , "deputyFertilizerRate": ""
              , "lackFertilizerRate": ""
              , "mainFertilizerMonitoringFlag": ""
              , "mainFertilizerMotorFlag": ""
              , "deputyFertilizerMotorFlag": ""
              , "seedLocationFlag": ""
              , "mainFertilizerLocationFlag": ""
              , "deputyFertilizerLocationFlag": ""
              , "soundFlag": ""
              , "sowType": ""
              , "sowMode": ""
              , "sowLine": ""
              , "sowingWidth": ""
              , "predictedTime": ""
              , "decelerationValue": ""
              , "lackFertilizerLine": ""
              , "runningTime": ""
              , "sowDistance": ""
              , "radarFrequency": ""
              , "systemVoltage": ""
              , "systemNewHeadFlag": ""
              , "systemCompressionStrokeFlag": ""
              , "systemSeedManuallyFlag": ""
              , "systemMainFertilizerTestingFlag": ""
              , "encoderAlarmFlag": ""
              , "sowingFlag": ""
              , "padConnectFlag": ""
              , "systemRadarWarnFlag": ""
              , "seedAlarmCount": ""
              , "fertilizerAlarmCount": ""
              , "fanPressure": ""
              , "fanSpeed": ""
              , "uploadType": ""
              , "remainingMileage": ""
              , "status": ""
            });
          }, 200);
          break;
      };
    });
	
	
	//时间组件
	        laydate.render({
	            elem: '#createTimeBegin'
	            , type: 'datetime'
	        });
	        laydate.render({
	            elem: '#createTimeEnd'
	            , type: 'datetime'
	        });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'look':
          backshow(data);
          toDisabled();
          break;
        case 'edit':
          backshow(data);
          $(".title").html("编辑");
          toUnDisabled();
          break;
      }
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete(ctx + "dataElectricSeederMessage/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              tableIns1.reload();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost(ctx + "dataElectricSeederMessage/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          tableIns1.reload();
        });
      }else {
        CoreUtil.sendPut(ctx + "dataElectricSeederMessage/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          tableIns1.reload();
        });
      }

      return false;
    });

    // 监听搜索操作
    form.on('submit(data-search-btn)', function (data) {
      //执行搜索重载
      tableIns1.reload({
        page: {
          curr: 1
        }
        , where: data.field
      });
      return false;
    });

    //回显
    var backshow = function (data) {
      $(".table_div").hide();
      $(".operation").show();
      $(".title").html("查看");
      setTimeout(function () {
        form.val('info', {
          "test": "test"
                      , "lotId": data.lotId
                      , "deviceName": data.deviceName
                      , "dataTime": data.dataTime
                      , "electronicGearRatio": data.electronicGearRatio
                      , "bHolesNum": data.bHolesNum
                      , "bSowInterval": data.bSowInterval
                      , "bReductionRatio": data.bReductionRatio
                      , "bSendPulse": data.bSendPulse
                      , "bRecievePulse": data.bRecievePulse
                      , "aHolesNum": data.aHolesNum
                      , "aSowInterval": data.aSowInterval
                      , "aReductionRatio": data.aReductionRatio
                      , "aSendPulse": data.aSendPulse
                      , "aRecievePulse": data.aRecievePulse
                      , "newHeadRepeatFlag": data.newHeadRepeatFlag
                      , "shutDownDistanceFlag": data.shutDownDistanceFlag
                      , "seedMotorAlarmFlag": data.seedMotorAlarmFlag
                      , "eNCODERMODEFlag": data.eNCODERMODEFlag
                      , "dRIVINGDIRECTIONFlag": data.dRIVINGDIRECTIONFlag
                      , "hASENCODERFlag": data.hASENCODERFlag
                      , "realMainFertilizerValue": data.realMainFertilizerValue
                      , "setMainFertilizerValue": data.setMainFertilizerValue
                      , "mainFertilizerRate": data.mainFertilizerRate
                      , "realDeputyFertilizerValue": data.realDeputyFertilizerValue
                      , "setDeputyFertilizerValue": data.setDeputyFertilizerValue
                      , "deputyFertilizerRate": data.deputyFertilizerRate
                      , "lackFertilizerRate": data.lackFertilizerRate
                      , "mainFertilizerMonitoringFlag": data.mainFertilizerMonitoringFlag
                      , "mainFertilizerMotorFlag": data.mainFertilizerMotorFlag
                      , "deputyFertilizerMotorFlag": data.deputyFertilizerMotorFlag
                      , "seedLocationFlag": data.seedLocationFlag
                      , "mainFertilizerLocationFlag": data.mainFertilizerLocationFlag
                      , "deputyFertilizerLocationFlag": data.deputyFertilizerLocationFlag
                      , "soundFlag": data.soundFlag
                      , "sowType": data.sowType
                      , "sowMode": data.sowMode
                      , "sowLine": data.sowLine
                      , "sowingWidth": data.sowingWidth
                      , "predictedTime": data.predictedTime
                      , "decelerationValue": data.decelerationValue
                      , "lackFertilizerLine": data.lackFertilizerLine
                      , "runningTime": data.runningTime
                      , "sowDistance": data.sowDistance
                      , "radarFrequency": data.radarFrequency
                      , "systemVoltage": data.systemVoltage
                      , "systemNewHeadFlag": data.systemNewHeadFlag
                      , "systemCompressionStrokeFlag": data.systemCompressionStrokeFlag
                      , "systemSeedManuallyFlag": data.systemSeedManuallyFlag
                      , "systemMainFertilizerTestingFlag": data.systemMainFertilizerTestingFlag
                      , "encoderAlarmFlag": data.encoderAlarmFlag
                      , "sowingFlag": data.sowingFlag
                      , "padConnectFlag": data.padConnectFlag
                      , "systemRadarWarnFlag": data.systemRadarWarnFlag
                      , "seedAlarmCount": data.seedAlarmCount
                      , "fertilizerAlarmCount": data.fertilizerAlarmCount
                      , "fanPressure": data.fanPressure
                      , "fanSpeed": data.fanSpeed
                      , "uploadType": data.uploadType
                      , "remainingMileage": data.remainingMileage
                      , "status": data.status
                  });
      }, 200);
    }

	$('#back_btn').click(function(){
		
		const targetUrl = "http://localhost:8080/manager/index/dataBzjDevice2?";
		    
		    // 直接跳转到新页面（放弃Tab模式）
		    window.location.href = targetUrl;
		
	})
	
    //禁用输入
    var toDisabled = function () {
      $(".oper").hide();
      $(".disabled").each(function (index, elem) {
        $(elem).attr("disabled", "")
      })
    }

    //放开输入
    var toUnDisabled = function () {
      $(".oper").show();
      $(".disabled").each(function (index, elem) {
        $(elem).removeAttr("disabled", "")
      })
    }
  });
</script>