<!DOCTYPE html>
<html lang="en" xmlns:sa="http://www.thymeleaf.org/extras/sa-token"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--公共模块-->
  <div th:replace="~{layout}"></div>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info">
  <input name="lotId" hidden />
   <div class="layui-input-inline">
        <label class="layui-form-label">设备名称</label>
        <div class="layui-input-block">
          <input type="deviceName" name="deviceName" placeholder="请输入设备名称" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">数据时间</label>
        <div class="layui-input-block">
          <input type="dataTime" name="dataTime" placeholder="请输入数据发生时刻（硬件时刻）" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">电子齿轮比</label>
        <div class="layui-input-block">
          <input type="electronicGearRatio" name="electronicGearRatio" placeholder="请输入电子齿轮比" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">B组孔盘数</label>
        <div class="layui-input-block">
          <input type="bHolesNum" name="bHolesNum" placeholder="请输入B组孔盘数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">B组株距</label>
        <div class="layui-input-block">
          <input type="bSowInterval" name="bSowInterval" placeholder="请输入B组株距" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">B减速比</label>
        <div class="layui-input-block">
          <input type="bReductionRatio" name="bReductionRatio" placeholder="请输入B组电机与主轴的减速比" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">B组脉冲数</label>
        <div class="layui-input-block">
          <input type="bSendPulse" name="bSendPulse" placeholder="请输入B组电机一圈需要的脉冲数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">B反脉冲数</label>
        <div class="layui-input-block">
          <input type="bRecievePulse" name="bRecievePulse" placeholder="请输入B组电机电机一圈需要的脉冲数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">A组孔盘数</label>
        <div class="layui-input-block">
          <input type="aHolesNum" name="aHolesNum" placeholder="请输入A组孔盘数。" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">A组株距</label>
        <div class="layui-input-block">
          <input type="aSowInterval" name="aSowInterval" placeholder="请输入A组株距" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">A减速比</label>
        <div class="layui-input-block">
          <input type="aReductionRatio" name="aReductionRatio" placeholder="请输入A组电机与主轴的减速比,单位0.1" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">A脉冲数</label>
        <div class="layui-input-block">
          <input type="aSendPulse" name="aSendPulse" placeholder="请输入A组电机一圈需要的脉冲数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">A反脉冲数</label>
        <div class="layui-input-block">
          <input type="aRecievePulse" name="aRecievePulse" placeholder="请输入A组电机电机一圈需要的脉冲数，单位个" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">新头重复</label>
        <div class="layui-input-block">
		  <input type="radio" name="newHeadRepFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="newHeadRepFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">限制距离到强制停机</label>
        <div class="layui-input-block">
		  <input type="radio" name="shutDownDistanceFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="shutDownDistanceFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">种电机报警</label>
        <div class="layui-input-block">
		  <input type="radio" name="seedMotorAlarmFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="seedMotorAlarmFlag" value="1" title="有" lay-filter="radio-type">
		  
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">编码器取反</label>
        <div class="layui-input-block">
		  <input type="radio" name="encoderModeFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="encoderModeFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">行程开关方向取反</label>
        <div class="layui-input-block">
		  <input type="radio" name="drivingDirectionFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="drivingDirectionFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">有无编码器</label>
        <div class="layui-input-block">
		  <input type="radio" name="hasEncoderFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="hasEncoderFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">测试主肥量</label>
        <div class="layui-input-block">
          <input type="realMainFertilizerValue" name="realMainFertilizerValue" placeholder="请输入测试主肥量" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">设定主肥量</label>
        <div class="layui-input-block">
          <input type="setMainFertilizerValue" name="setMainFertilizerValue" placeholder="请输入设定主肥量" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">主肥系数</label>
        <div class="layui-input-block">
          <input type="mainFertilizerRate" name="mainFertilizerRate" placeholder="请输入主肥系数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">测试口肥量</label>
        <div class="layui-input-block">
          <input type="realDeputyFertilizerValue" name="realDeputyFertilizerValue" placeholder="请输入测试口肥量" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">设定口肥量</label>
        <div class="layui-input-block">
          <input type="setDeputyFertilizerValue" name="setDeputyFertilizerValue" placeholder="请输入设定口肥量" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">口肥系数</label>
        <div class="layui-input-block">
          <input type="deputyFertilizerRate" name="deputyFertilizerRate" placeholder="请输入口肥系数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">主肥监控的缺肥灵敏度</label>
        <div class="layui-input-block">
          <input type="lackFertilizerRate" name="lackFertilizerRate" placeholder="请输入主肥监控的缺肥灵敏度" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">主肥监控标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="mainFertilizerMonitoringFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="mainFertilizerMonitoringFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">主肥电机标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="mainFertilizerMotorFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="mainFertilizerMotorFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">口肥电机标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="deputyFertilizerMotorFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="deputyFertilizerMotorFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">种物位标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="seedLocationFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="seedLocationFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">主肥物位标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="mainFertilizerLocationFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="mainFertilizerLocationFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">口肥物位标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="deputyFertilizerLocationFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="deputyFertilizerLocationFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">报声音</label>
        <div class="layui-input-block">
		  <input type="radio" name="soundFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="soundFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">平行播种</label>
        <div class="layui-input-block">
		  <input type="radio" name="sowType" value="0" title="常规" lay-filter="radio-type">
		  <input type="radio" name="sowType" value="1" title="平行播种" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">苗带选择</label>
        <div class="layui-input-block">
		  <input type="radio" name="sowMode" value="0" title="单苗带" lay-filter="radio-type">
		  <input type="radio" name="sowMode" value="1" title="双苗带" lay-filter="radio-type">
		  <input type="radio" name="sowMode" value="2" title="三苗带" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">播种行数</label>
        <div class="layui-input-block">
          <input type="sowLine" name="sowLine" placeholder="请输入播种行数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">总播种宽度</label>
        <div class="layui-input-block">
          <input type="sowingWidth" name="sowingWidth" placeholder="请输入总播种宽度" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">种预判时间</label>
        <div class="layui-input-block">
          <input type="predictedTime" name="predictedTime" placeholder="请输入种预判时间" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">急停阈值</label>
        <div class="layui-input-block">
          <input type="decelerationValue" name="decelerationValue" placeholder="请输入急停阈值" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">无电机主肥监控的缺肥底线</label>
        <div class="layui-input-block">
          <input type="lackFertilizerLine" name="lackFertilizerLine" placeholder="请输入无电机主肥监控的缺肥底线" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">单次播种运行时记录的运行时间</label>
        <div class="layui-input-block">
          <input type="runningTime" name="runningTime" placeholder="请输入单次播种运行时记录的运行时间" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">单次播种的距离显示</label>
        <div class="layui-input-block">
          <input type="sowDistance" name="sowDistance" placeholder="请输入单次播种的距离显示" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">雷达频率</label>
        <div class="layui-input-block">
          <input type="radarFrequency" name="radarFrequency" placeholder="请输入雷达频率" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">运行8秒时系统电压</label>
        <div class="layui-input-block">
          <input type="systemVoltage" name="systemVoltage" placeholder="请输入运行8秒时系统电压" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">有新头标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="systemNewHeadFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="systemNewHeadFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">压行程（运输中）标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="systemCompressionStrokeFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="systemCompressionStrokeFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">种手动中标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="systemSeedManuallyFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="systemSeedManuallyFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">主肥测试手动中标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="systemMainFertilizerTestingFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="systemMainFertilizerTestingFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">有编码器时编码器报警标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="encoderAlarmFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="encoderAlarmFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">播种中标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="sowingFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="sowingFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">屏连接标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="padConnectFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="padConnectFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">雷达报警标志</label>
        <div class="layui-input-block">
		  <input type="radio" name="systemRadarWarnFlag" value="0" title="无" lay-filter="radio-type">
		  <input type="radio" name="systemRadarWarnFlag" value="1" title="有" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">单次播种，种子报警次数</label>
        <div class="layui-input-block">
          <input type="seedAlarmCount" name="seedAlarmCount" placeholder="请输入单次播种，种子报警次数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">单次播种肥报警次数</label>
        <div class="layui-input-block">
          <input type="fertilizerAlarmCount" name="fertilizerAlarmCount" placeholder="请输入单次播种肥报警次数" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">运行8秒时风机压力</label>
        <div class="layui-input-block">
          <input type="fanPressure" name="fanPressure" placeholder="请输入运行8秒时风机压力" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">运行8秒时风机转速</label>
        <div class="layui-input-block">
          <input type="fanSpeed" name="fanSpeed" placeholder="请输入运行8秒时风机转速" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">物联上传数据类型</label>
        <div class="layui-input-block">
		  <input type="radio" name="uploadType" value="0" title="蓝牙连接" lay-filter="radio-type">
		  <input type="radio" name="uploadType" value="1" title="运行停止" lay-filter="radio-type">
		  <input type="radio" name="uploadType" value="2" title="物联控制" lay-filter="radio-type">
		  <input type="radio" name="uploadType" value="3" title="设置改变" lay-filter="radio-type">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">当前到限里程停止时的剩余路程，4095是无限里程，单位是512米</label>
        <div class="layui-input-block">
          <input type="remainingMileage" name="remainingMileage" placeholder="请输入当前到限里程停止时的剩余路程，4095是无限里程，单位是512米" autocomplete="off" class="layui-input disabled">
        </div>
      </div>
        <div class="layui-input-inline">
        <label class="layui-form-label">数据状态(1.正常 0.忽略 )</label>
        <div class="layui-input-block">
		  <input type="radio" name="status" value="0" title="忽略" checked="" lay-filter="radio-type">
         <input type="radio" name="status" value="1" title="正常" lay-filter="radio-type">
        </div>
      </div>
    <div class="layui-input-inline">
    <div class="layui-input-block">
      <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
    </div>
	<table class="layui-table" id="showTable1" lay-filter="showTable1" ></table>
  </div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  sa:hasPermission="dataElectricSeederMessage:list">
    <form class="layui-form ">
      <div class="layui-form-item">
		<div class="layui-input-inline">
            <input type="hidden" name="lotId" id="lotId" class="layui-input"  placeholder="设备id" th:value="${param.lotId}">
        </div>
        <div class="layui-input-inline">
            <input type="text" readonly class="layui-input" name="createTimeBegin" id="createTimeBegin" placeholder="开始时间">
        </div>
        <div class="layui-input-inline">
            <input type="text" readonly class="layui-input" name="createTimeEnd" id="createTimeEnd" placeholder="结束时间">
        </div>
        <div class="layui-input-inline ">
          <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
        </div>
      </div>
    </form>
  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container oper">
    <button class="layui-btn layui-btn-sm" lay-event="comeBack">返回</button>
    <button class="layui-btn layui-btn-sm" lay-event="refresh">更新</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" sa:hasPermission="dataElectricSeederMessage:update">编辑</a>
</script>

</body>
</html>
<script>
  layui.use(function () {
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
	var laydate = layui.laydate;
	var router = layui.router();
	var bbb = router.search;
	console.log('当前路由:', layui.router());//这里不显示参数
	var aaa = $("#lotId").val();//这个有显示参数
	
	
    //加载table
    var tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , page: true //开启分页
      , url: ctx + 'dataElectricSeederMessage/listByPage' //数据接口
      , method: 'POST'
	  , where:{lotId:aaa}
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {width: 200, field: 'deviceName', title: '设备名称', sort: true},
          {width: 160, field: 'dataTime', title: '数据时间', sort: true},
          {width: 120, field: 'uploadType', title: '上传方式', templet : function(item){
  			if (item.uploadType == '0') {
  		          return '  <a class="" >蓝牙连接</a>';
  		      }
  		      if (item.uploadType == '1') {
  		          return '<a class="" >运行停止</a>';
  		      }
  			if (item.uploadType == '2') {
  		          return '  <a class="" >物联控制</a>';
  		      }
  		      if (item.uploadType == '3') {
  		          return '<a class="" >设置改变</a>';
  		      }
  						
		  }},
		  {width: 120, field: 'sowType', title: '平行播种', templet : function(item){
	  			if (item.sowType == '1') {
	  		          return '  <a class="" >平行播种</a>';
	  		      }
	  		      else if (item.sowType == '0') {
	  		          return '<a class="" >常规</a>';
	  		      }
	  						
  		  }},
		  {width: 100, field: 'sowMode', title: '苗带', templet : function(item){
			if (item.sowMode == '0') {
		          return '  <a class="" >单苗带</a>';
		      }
		      else if (item.sowMode == '1') {
		          return '<a class="ll" >双苗带</a>';
		      }
		      else if (item.sowMode == '2') {
		          return '<a class=" " >三苗带</a>';
		      }
		      else  {
		          return '<a class="" >未知</a>';
		      }
						
		  }},
		  {width: 110, field: 'sowLine', title: '播种行数', sort: true},
		  {width: 110, field: 'runningTime', title: '运行时间', sort: true},
		  {width: 110, field: 'sowDistance', title: '播种距离', sort: true},
		  {width: 110, field: 'seedAlarmCount', title: '种报警数', sort: true},
		  {width: 110, field: 'fertilizerAlarmCount', title: '肥报警数', sort: true},
          {width: 130, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
	  ,done:function(res,curr,count){
		
	  }
    });

	tableIns1.reload(	'showTable', {
				    where: {lotId:aaa},
				  });
    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
		case 'refresh':
		  refreshData();
		  break;
		case 'comeBack':
			const targetUrl = "http://localhost:8080/manager/index/dataBzjDevice2";
		    // 直接跳转到新页面
			window.location.href = targetUrl;
		  break;
      };
    });
	
	
	//时间组件
	        laydate.render({
	            elem: '#createTimeBegin'
	            , type: 'datetime'
	        });
	        laydate.render({
	            elem: '#createTimeEnd'
	            , type: 'datetime'
	        });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'look':
          backshow(data);
          toDisabled();
          break;
        case 'edit':
          backshow(data);
          $(".title").html("编辑");
          toUnDisabled();
          break;
      }
    });

	var refreshData = function(){
		$.ajax({
            type: 'POST',
            url: ctx + 'dataElectricSeederMessage/refreshData',
            dataType: "JSON",
            data: JSON.stringify({lotId:aaa}),
            contentType: "application/json",
            success: function (res) {
                if (res.code == 0) {
					tableIns1.reload({
					        page: {
					          curr: 1
					        }
					        , where: {lotId:aaa}
					      });
                } else {
                    layer.msg(res.msg);
                    $("#img").click();
                }
            }
        })
		
	}
	
    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete(ctx + "dataElectricSeederMessage/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              tableIns1.reload();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost(ctx + "dataElectricSeederMessage/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          tableIns1.reload();
        });
      }else {
        CoreUtil.sendPut(ctx + "dataElectricSeederMessage/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          tableIns1.reload();
        });
      }

      return false;
    });

    // 监听搜索操作
    form.on('submit(data-search-btn)', function (data) {
      //执行搜索重载
      tableIns1.reload({
        page: {
          curr: 1
        }
        , where: data.field
      });
      return false;
    });

	var tableIns2 = table.render({
		      elem: '#showTable1'
		      , contentType: 'application/json'
		      , page: true //开启分页
		      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      }
		      , cols: [
		        [
		          {type: 'checkbox', fixed: 'left'},
		          {field: 'lineNo', title: '行数', sort: true,width:90},
		          {field: 'seedNum', title: '种数', sort: true,width:100},
		          {field: 'excessSeeds', title: '多种', sort: true,width:90},
		          {field: 'lackSeeds', title: '缺种', sort: true,width:90},
		          {field: 'fertilizerSpeedRatio', title: '主肥检测转速反馈比', sort: true,width:140},
		          {field: 'seedAlarmRatio', title: '种报警', sort: true,width:90},
		          {field: 'seedAbType', title: 'AB模式', sort: true,width:90},
		          {field: 'mainFertilizerDirect', title: '主肥电机方向', sort: true,width:130},
		          {field: 'deputyFertilizerDirect', title: '口肥电机方向', sort: true,width:130},
		          {field: 'seedSwtich', title: '种使能', sort: true,width:90},
		          {field: 'mainFertilizerSwtich', title: '主肥电机使能', sort: true,width:130},
		          {field: 'deputyFertilizerSwtich', title: '口肥电机使能', sort: true,width:130},
		          {field: 'mainFertilizerMonitorSwtich', title: '主肥监控使能', sort: true,width:130},
		          {field: 'fertilizerAlarmRatio', title: '肥报警', sort: true,width:90}
		          
		        ]
		      ]
		      
		    });
    //回显
    var backshow = function (data) {
      $(".table_div").hide();
      $(".operation").show();
      $(".title").html("查看");
      setTimeout(function () {
        form.val('info', {
          "test": "test"
                      , "lotId": data.lotId
                      , "deviceName": data.deviceName
                      , "dataTime": data.dataTime
                      , "electronicGearRatio": data.electronicGearRatio
                      , "bHolesNum": data.bHolesNum
                      , "bSowInterval": data.bSowInterval
                      , "bReductionRatio": data.bReductionRatio
                      , "bSendPulse": data.bSendPulse
                      , "bRecievePulse": data.bRecievePulse
                      , "aHolesNum": data.aHolesNum
                      , "aSowInterval": data.aSowInterval
                      , "aReductionRatio": data.aReductionRatio
                      , "aSendPulse": data.aSendPulse
                      , "aRecievePulse": data.aRecievePulse
                      , "newHeadRepeatFlag": data.newHeadRepeatFlag
                      , "shutDownDistanceFlag": data.shutDownDistanceFlag
                      , "seedMotorAlarmFlag": data.seedMotorAlarmFlag
                      , "encoderModeFlag": data.encoderModeFlag
                      , "drivingDirectionFlag": data.drivingDirectionFlag
                      , "hasEncoderFlag": data.hasEncoderFlag
                      , "realMainFertilizerValue": data.realMainFertilizerValue
                      , "setMainFertilizerValue": data.setMainFertilizerValue
                      , "mainFertilizerRate": data.mainFertilizerRate
                      , "realDeputyFertilizerValue": data.realDeputyFertilizerValue
                      , "setDeputyFertilizerValue": data.setDeputyFertilizerValue
                      , "deputyFertilizerRate": data.deputyFertilizerRate
                      , "lackFertilizerRate": data.lackFertilizerRate
                      , "mainFertilizerMonitoringFlag": data.mainFertilizerMonitoringFlag
                      , "mainFertilizerMotorFlag": data.mainFertilizerMotorFlag
                      , "deputyFertilizerMotorFlag": data.deputyFertilizerMotorFlag
                      , "seedLocationFlag": data.seedLocationFlag
                      , "mainFertilizerLocationFlag": data.mainFertilizerLocationFlag
                      , "deputyFertilizerLocationFlag": data.deputyFertilizerLocationFlag
                      , "soundFlag": data.soundFlag
                      , "sowType": data.sowType
                      , "sowMode": data.sowMode
                      , "sowLine": data.sowLine
                      , "sowingWidth": data.sowingWidth
                      , "predictedTime": data.predictedTime
                      , "decelerationValue": data.decelerationValue
                      , "lackFertilizerLine": data.lackFertilizerLine
                      , "runningTime": data.runningTime
                      , "sowDistance": data.sowDistance
                      , "radarFrequency": data.radarFrequency
                      , "systemVoltage": data.systemVoltage
                      , "systemNewHeadFlag": data.systemNewHeadFlag
                      , "systemCompressionStrokeFlag": data.systemCompressionStrokeFlag
                      , "systemSeedManuallyFlag": data.systemSeedManuallyFlag
                      , "systemMainFertilizerTestingFlag": data.systemMainFertilizerTestingFlag
                      , "encoderAlarmFlag": data.encoderAlarmFlag
                      , "sowingFlag": data.sowingFlag
                      , "padConnectFlag": data.padConnectFlag
                      , "systemRadarWarnFlag": data.systemRadarWarnFlag
                      , "seedAlarmCount": data.seedAlarmCount
                      , "fertilizerAlarmCount": data.fertilizerAlarmCount
                      , "fanPressure": data.fanPressure
                      , "fanSpeed": data.fanSpeed
                      , "uploadType": data.uploadType
                      , "remainingMileage": data.remainingMileage
                      , "status": data.status
                  });
				  // 关键优化：使用reload更新数据而非重新渲染
				      tableIns2.reload({
				        data: data.lines, // 直接使用新数据
				        page: { curr: 1 } // 重置到第一页
				      });  
				  
      }, 200);
    }

    //禁用输入
    var toDisabled = function () {
      $(".oper").hide();
      $(".disabled").each(function (index, elem) {
        $(elem).attr("disabled", "")
      })
    }

    //放开输入
    var toUnDisabled = function () {
      $(".oper").show();
      $(".disabled").each(function (index, elem) {
        $(elem).removeAttr("disabled", "")
      })
    }
  });
</script>