<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.DataSaleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.DataSaleEntity" id="dataSaleMap">
        <result property="id" column="id"/>
        <result property="agent" column="agent"/>
        <result property="buyer" column="buyer"/>
        <result property="phone" column="phone"/>
        <result property="machineName" column="machine_name"/>
        <result property="machineModel" column="machine_model"/>
        <result property="brandNumber" column="brand_number"/>
        <result property="machineLines" column="machine_lines"/>
        <result property="productCode" column="product_code"/>
        <result property="addressInfo" column="address_info"/>
        <result property="agentId" column="agent_id"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityId" column="city_id"/>
        <result property="countryId" column="country_id"/>
        <result property="machineModelId" column="machine_model_id"/>
        <result property="saleStatus" column="sale_status"/>
        <result property="saleDesc" column="sale_desc"/>
    </resultMap>


</mapper>