<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.DataMessageBodyMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.DataMessageBodyEntity" id="dataMessageBodyMap">
        <result property="id" column="id"/>
        <result property="lotId" column="lot_id"/>
        <result property="messageCode" column="message_code"/>
        <result property="messageBody" column="message_body"/>
        <result property="dataTime" column="data_time"/>
        <result property="invalidateFlag" column="invalidate_flag"/>
        <result property="invalidateReason" column="invalidate_reason"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


</mapper>