<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.DataElectricSeederMessageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.DataElectricSeederMessageEntity" id="dataElectricSeederMessageMap">
        <result property="id" column="id"/>
        <result property="lotId" column="lot_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="dataTime" column="data_time"/>
        <result property="electronicGearRatio" column="electronic_gear_ratio"/>
        <result property="bHolesNum" column="b_holes_num"/>
        <result property="bSowInterval" column="b_sow_interval"/>
        <result property="bReductionRatio" column="b_reduction_ratio"/>
        <result property="bSendPulse" column="b_send_pulse"/>
        <result property="bRecievePulse" column="b_recieve_pulse"/>
        <result property="aHolesNum" column="a_holes_num"/>
        <result property="aSowInterval" column="a_sow_interval"/>
        <result property="aReductionRatio" column="a_reduction_ratio"/>
        <result property="aSendPulse" column="a_send_pulse"/>
        <result property="aRecievePulse" column="a_recieve_pulse"/>
        <result property="newHeadRepeatFlag" column="new_head_repeat_flag"/>
        <result property="shutDownDistanceFlag" column="shut_down_distance_flag"/>
        <result property="seedMotorAlarmFlag" column="seed_motor_alarm_flag"/>
        <result property="encoderModeFlag" column="ENCODER_MODE_flag"/>
        <result property="drivingDirectionFlag" column="DRIVING_DIRECTION_flag"/>
        <result property="hasEncoderFlag" column="HAS_ENCODER_flag"/>
        <result property="realMainFertilizerValue" column="real_main_fertilizer_value"/>
        <result property="setMainFertilizerValue" column="set_main_fertilizer_value"/>
        <result property="mainFertilizerRate" column="main_fertilizer_rate"/>
        <result property="realDeputyFertilizerValue" column="real_deputy_fertilizer_value"/>
        <result property="setDeputyFertilizerValue" column="set_deputy_fertilizer_value"/>
        <result property="deputyFertilizerRate" column="deputy_fertilizer_rate"/>
        <result property="lackFertilizerRate" column="lack_fertilizer_rate"/>
        <result property="mainFertilizerMonitoringFlag" column="main_fertilizer_monitoring_flag"/>
        <result property="mainFertilizerMotorFlag" column="main_fertilizer_motor_flag"/>
        <result property="deputyFertilizerMotorFlag" column="deputy_fertilizer_motor_flag"/>
        <result property="seedLocationFlag" column="seed_location_flag"/>
        <result property="mainFertilizerLocationFlag" column="main_fertilizer_location_flag"/>
        <result property="deputyFertilizerLocationFlag" column="deputy_fertilizer_location_flag"/>
        <result property="soundFlag" column="sound_flag"/>
        <result property="sowType" column="sow_type"/>
        <result property="sowMode" column="sow_mode"/>
        <result property="sowLine" column="sow_line"/>
        <result property="sowingWidth" column="sowing_width"/>
        <result property="predictedTime" column="predicted_time"/>
        <result property="decelerationValue" column="deceleration_value"/>
        <result property="lackFertilizerLine" column="lack_fertilizer_line"/>
        <result property="runningTime" column="running_time"/>
        <result property="sowDistance" column="sow_distance"/>
        <result property="radarFrequency" column="radar_frequency"/>
        <result property="systemVoltage" column="system_voltage"/>
        <result property="systemNewHeadFlag" column="system_new_head_flag"/>
        <result property="systemCompressionStrokeFlag" column="system_compression_stroke_flag"/>
        <result property="systemSeedManuallyFlag" column="system_seed_manually_flag"/>
        <result property="systemMainFertilizerTestingFlag" column="system_main_fertilizer_testing_flag"/>
        <result property="encoderAlarmFlag" column="encoder_alarm_flag"/>
        <result property="sowingFlag" column="sowing_flag"/>
        <result property="padConnectFlag" column="pad_connect_flag"/>
        <result property="systemRadarWarnFlag" column="system_radar_warn_flag"/>
        <result property="seedAlarmCount" column="seed_alarm_count"/>
        <result property="fertilizerAlarmCount" column="fertilizer_alarm_count"/>
        <result property="fanPressure" column="fan_pressure"/>
        <result property="fanSpeed" column="fan_speed"/>
        <result property="uploadType" column="upload_type"/>
        <result property="remainingMileage" column="remaining_mileage"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="aliyun" column="aliyun"/>
        <result property="seedFlag" column="seed_flag"/>
    </resultMap>

	<select id="selectMaxDataTimeByDevice" resultType="java.util.Date" parameterType="com.company.project.entity.DataBzjDeviceEntity">
	    SELECT MAX(data_time) 
	    FROM data_electric_seeder_message
	    <where>
	        <!-- 动态条件示例：按设备ID和时间范围筛选 -->
	        <if test="device.deviceName != null">
	            AND device_name = #{device.deviceName}
	        </if>
	    </where>
	</select>
	
	<select id="selectAll" resultMap="dataElectricSeederMessageMap" parameterType="com.company.project.entity.DataElectricSeederMessageEntity">
	    select * from data_electric_seeder_message
	    <where>
	     	AND status != 1   <!-- 新增：过滤逻辑删除的数据 -->
	        <if test="query.lotId != null and query.lotId != ''">
	            AND lot_id = #{query.lotId}
	        </if>
	        <if test="query.deviceName != null and query.deviceName != ''">
	            AND device_name LIKE CONCAT('%', #{query.deviceName}, '%')
	        </if>
	        <if test="query.uploadType != null ">
	            AND upload_type =#{query.uploadType}
	        </if>
	        <if test="query.dataTime != null">
	            AND data_time = #{query.dataTime}
	        </if>
	        <if test="query.createTimeBegin != null">
	            AND data_time >= #{query.createTimeBegin}
	        </if>
	        <if test="query.createTimeEnd != null">
	            AND data_time &lt;= #{query.createTimeEnd}
	        </if>
	        <!-- 可以添加更多字段的查询条件 -->
	    </where>
	    ORDER BY data_time DESC
	</select>


</mapper>