<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.DataBzjDeviceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.DataBzjDeviceEntity" id="dataBzjDeviceMap">
        <result property="lotId" column="lot_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="username" column="username"/>
        <result property="address" column="address"/>
        <result property="telephone" column="telephone"/>
        <result property="deviceName" column="device_name"/>
        <result property="nickname" column="nickname"/>
        <result property="productKey" column="product_key"/>
        <result property="deviceModified" column="device_modified"/>
        <result property="deviceStatus" column="device_status"/>
        <result property="deviceSecret" column="device_secret"/>
        <result property="deviceType" column="device_type"/>
        <result property="latestX" column="latest_x"/>
        <result property="latestY" column="latest_y"/>
        <result property="baiduX" column="baidu_x"/>
        <result property="baiduY" column="baidu_y"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>



	<select id="pointMap" resultType="java.util.Map">
			select 
-- 在线数量
    	(select count(*) from data_bzj_device dbd where dbd.del_flag  = 0  and device_status='ONLINE') as online ,
    	
    	-- 离线数量
    	(select count(*) from data_bzj_device dbd where dbd.del_flag  = 0  and device_status='OFFLINE') as offline ,
    	-- 监控器数量
    	(select count(*) from data_bzj_device dbd where dbd.del_flag  = 0  and device_type='1') as jkq ,
    	-- 播种机数量
    	
    	(select count(*) from data_bzj_device dbd where dbd.del_flag  = 0  and device_type='2') as dq ,
    	-- 报警总数
    	
    	-- 种报警
    	
    	-- 播种设备
    	(select count(distinct lot_Id) from data_electric_seeder_message desm where data_time >= CURDATE()          
  AND DATE_ADD(CURDATE(), INTERVAL 1 DAY)> data_time)  as seedDeviceCount ,
    	-- 播种行数
    	(select sum(sow_line) from data_electric_seeder_message desm where data_time >= CURDATE()          
  AND  DATE_ADD(CURDATE(), INTERVAL 1 DAY) >data_time)  as seedLineCount 
	
	</select>

</mapper>